body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map {
  height: 50vh;
}
footer {
  font-size: xx-small;
}
.popup {
  background-color: #9382fe;
  color:rgb(247, 247, 251);
  border-radius: 12px;
  padding: 20px;
  width: 200px;
  height: 100px;
  text-align: center;
}
.info { 
   background-color: #9382fe;
  color:rgb(247, 247, 251);
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  height: 100px;
}